  <app-navbar></app-navbar>

  <div class="accordion mx-auto mt-9 list-width text-center" id="accordionExample"></div>

  <div class="mx-auto mt-9 list-width text-center">
    <p>REV.A <span class="ml-6">FSGC-214-7-002</span></p>
    <form (ngSubmit)="overClass()" id="overtimeClassForm" [formGroup]="overForm">
      <div class="form-row ">
      <div class="form-group col-md-4">
        <input type="text" class="form-control" formControlName="squad" placeholder="PLANTEL">
    </div>
    <div class="form-group col-md-4">
        <input type="text" class="form-control" formControlName="level" placeholder="NIVEL">
    </div>
  <div class="form-group col-md-4">
    <input type="text" class="form-control" formControlName="period" placeholder="PERIODO">
  </div>
  <div class="form-group col-md-12">
    <input type="text" class="form-control" formControlName="career" placeholder="DIVISION">
  </div>

  <div class="form-group col-md-12">

    <select class="form-control" formControlName="laboratory">
      <option value="" selected>LABORATORIO O TALLER</option>
      <option disabled></option>
      <option *ngFor="let lab of dataLabs" [value]="lab.id_laboratorio"> {{lab.nombre_lab}} </option>
  </select>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="hora_salida">FECHA</label>
      <input type="date" class="form-control" formControlName="date" placeholder="FECHA">
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <input type="text" class="form-control" formControlName="nameTeacher" placeholder="PROFESOR">
      </div>

  <!--   <div class="form-group col-md-4">
      <label for="hora_salida">HORA DE ENTRADA</label>
      <input type="text" class="form-control" id="hora_entrada" formControlName="hora_entrada"
          placeholder="HR Entrada">
  </div> -->

 <!--   <div class="form-group col-md-4">
    <label for="hora_salida">HORA DE SALIDA</label>
    <input type="text" class="form-control" id="hora_salida" formControlName="hora_salida"
        placeholder="HR Salida">
  </div> 
  </div>
  </div>
  <div class="form-row">
  <div class="form-group col-md-12">
    <input type="text" class="form-control" formControlName="nameTeacher" placeholder="PROFESOR">
  </div>
  </div> -->

  <div class="form-row">
    <div class="form-group col-md-7">
      <select class="form-control" formControlName="subject">
        <option value="" selected>MATERIA</option>
        <option disabled></option>
        <option *ngFor="let subject of dataSubjects" [value]="subject.id_asignatura"> {{subject.nombre}} </option>
      </select>
    </div>
    <div class="form-group col-md-5">
        <input type="text" class="form-control" formControlName="group" placeholder="GRADO Y GRUPO">  
    </div>
  </div>

  <ng-container *ngIf="students.length > 0">
    <table class="table">
        <thead>
            <tr>
                <th class="p-2">NOMBRE DEL ALUMNO USUARIO</th>
                 <th class="p-2">REGISTRO</th> 
                <th class="p-2">Eliminar</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of students; let i = index">
              <td class="align-middle"> {{i+1}}</td>
              <td class="align-middle"> {{student.nombreEstudiante}} </td>
              <td class="align-middle"> {{student.registro}} </td>
              <!--  <button (click)="removeStudents(i)" type="button" class="close">
                <span class="text-danger">&times;</span>
            </button> -->
          </tr>
      </tbody>
  </table>
</ng-container>






  

 
    








